.trueFalse {
    background-color: #ffffff;
    padding: 5%;
    height: 55vh;
    width: 60vw;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    h2 {
        padding-bottom: 1rem;
        color: #474747;
    }
    .answerContainer {
        width: 100%;
        .select {
            width: 100%;
            padding: 0.5rem;
            font-size: 22px;
            border: none;
            resize: none;
            color: rgb(0, 117, 117);
            .option {
                margin: 1rem 0;
                padding: 0.5rem;
                background-color: #f3f3f3;
            }
        }
    }
}