.finished {
    background-color: rgba(255, 166, 0, 0.089);
    width: 75vw;
    height: 90vh;
    padding: 2rem;
    .container {
        flex-direction: column;
        height: 90%;
        display: flex;
        color: rgb(255, 166, 0);
        width: 100%;
        justify-content: center;
        h3 {
            color: tomato;
            font-weight: 600;
            margin: 0.3rem 0;
        }
        p {
            padding: 0.4rem 0;
        }
    }
}